@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    font-weight: 300;
    color: var(--cor-fundo-escuro);
    scroll-behavior: smooth;
  }

body {
  background: rgb(11,250,2);
  background: linear-gradient(139deg, rgba(11,250,2,1) 0%, rgba(54,173,53,1) 20%, rgba(0,0,0,1) 67%);
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-normal);
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.redes-sociais a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-primaria);
  text-align: center;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.redes-sociais a:hover {
  color: var(--cor-fundo-escuro);
  background-color: var(--cor-primaria);
  transform: scale(1.1);
}

.redes-sociais a i {
  line-height: 40px;
}

.outer-shadow {
  box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
  box-shadow: inset 5px 5px 5px #222327, inset -5px -5px 5px #454545;
}

.section {
  padding: 7rem 0 7rem;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
  color: var(--cor-primaria);
}

.section-title h2 {
  font-size: var(--fonte-gigante);
  color: var(--cor-primaria);
  font-weight: 500;
  text-transform: uppercase;
}

.botao {
  font-size: var(--font-grande);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-primaria);
}

.botao:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-fundo-escuro);
  font-weight: bold;
}